body{
  font-family: 'Courgette', cursive;
}

*{
  margin:0px;
  padding:0px;
}

#header-nav{
  background-color:#83ECEC;
  height:66px;
}

.contain{
  width:100%;
}

.heading a{
  font-size:2.2em;  
}
