body{
  font-family: 'Noto Sans JP', sans-serif;
}

*{
  margin:0px;
  padding:0px;
  list-style:none;
  text-decoration:none;
}

.sidebar{
  position:fixed;
  width:250px;
  height:100%;
  background:#300459;  
}

.sidebar header{
  font-size:26px;
  color:#ffffff;
  text-align:center;
  line-height:70px;
  background:#4f0791;
  user-select:none;
}

.sidebar ul a{
  display:block;
  color:#ffffff;
  line-height:60px;
  font-size:20px;
  padding-left:50px;
  transition:0.4s;
}

ul li:hover a{
  padding-left:60px;
  text-decoration:none;
  background:#6a458c;
}

.sidebar ul a i{
  margin-right:15px;
}







